<div class="container border">
    
    <div class=" d-flex justify-content-end">
       <p (click)="close()"><i class="fas fa-close" ></i></p> 
    </div>

    <div class=" d-flex justify-content-center mt-4">
        <h1 class="text-danger">😱</h1>
    </div>


<div class="d-flex justify-content-center">
<p> "You are about to log out. Please click <span class="text-danger">'Continue' </span>to proceed."</p>
</div>


<div class="d-flex justify-content-end">
<button class="border-0 rounded" (click)="logout()"> <h6 class="pt-2 ">Continue</h6></button>
</div>






</div>