<div class="container border">
    
    <div class=" d-flex justify-content-end">
       <p (click)="close()"><i class="fas fa-close" ></i></p> 
    </div>

    <div class=" d-flex justify-content-center mt-4">
        <h1 class="text-danger">Failed..!</h1>
    </div>


<div class="d-flex justify-content-center">
<p> Incorrect Email or Password.</p>
</div>


<div class="d-flex justify-content-end">
<button class="border-0 rounded" (click)="close()"> <h6 class="pt-2">Close.</h6></button>
</div>






</div>